設定 LED 狀態
[{"id":"3965914a.f4550e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6f4000d2.7ced8","type":"http in","z":"3965914a.f4550e","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[["d692573b.8152a8","b414d1ab.586c"]]},{"id":"d692573b.8152a8","type":"function","z":"3965914a.f4550e","name":"Set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":260,"wires":[["ef1b64be.86b648"]]},{"id":"ef1b64be.86b648","type":"rpi-gpio out","z":"3965914a.f4550e","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":620,"y":260,"wires":[]},{"id":"b414d1ab.586c","type":"function","z":"3965914a.f4550e","name":"Return Status","func":"msg.payload=\"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":80,"wires":[["d5eb600f.bd185","691581a8.d9b82"]]},{"id":"d5eb600f.bd185","type":"http response","z":"3965914a.f4550e","name":"","statusCode":"","headers":{},"x":1050,"y":80,"wires":[]},{"id":"691581a8.d9b82","type":"debug","z":"3965914a.f4550e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":300,"wires":[]},{"id":"35797684.e222da","type":"http in","z":"3965914a.f4550e","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":170,"y":360,"wires":[["98e60064.13821","a683c90f.a98c98"]]},{"id":"98e60064.13821","type":"function","z":"3965914a.f4550e","name":"Clear to 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["ef1b64be.86b648"]]},{"id":"a683c90f.a98c98","type":"function","z":"3965914a.f4550e","name":"Return Status","func":"msg.payload=\"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":440,"wires":[["d5eb600f.bd185","691581a8.d9b82"]]}]
